.article{

    display: grid;
    grid-template-columns: 4em 1fr 1fr 1fr 1fr 4em;
    grid-template-rows: auto;
    grid-template-areas: ". title title title title ."
                         ". left left img1 img1 ."
                         ". img2 img2 right right ."
                         ". bottom bottom bottom bottom ."
                         " ftr ftr ftr ftr ftr ftr";
    grid-gap: 1rem; 
    margin-top: 15rem;

    &_title{
     grid-area: title;
     text-align: center;
     margin: 1rem 0;
     background: coral;

        & hr{
            @include horizontal_line
        }
    }

    &_blurb{
        grid-area: blurb;
        text-align: center;
        background: chocolate;
    }
    &_img1{
        grid-area: img1;    
        background-image: url('https://source.unsplash.com/random/300x300');
        background-size: cover;   
    }
 
    &_left{
       grid-area: left;
        background: firebrick;
    }
    &_img2{
        grid-area: img2;
        background-image: url('https://source.unsplash.com/random/300x300');
        background-size: cover;
    }
    &_right{
        grid-area: right;
        background: salmon;
    }
    &_bottom{
        grid-area: bottom;
        background: gold;
        text-align: center;
    }
    &_ftr{
        grid-area: ftr;
        background: chartreuse;
        height: 20vh;
    }

    & p{
        font-size: 1.6rem;
    }
    & h4,h3 {
        font-size: 2rem;
    }
}