.header{
    text-align: center;
    margin-top: 15rem;
    background-color: #edf8fa;background-image: linear-gradient(to left,#fff, #edf8fa, #edf8fa, #fff);
    
    
    &_title {
        padding: 2rem;
    }

    &_links{

        &>*{
            list-style: none;
            display: inline-block;
            background-color: #fff;
            padding: 2rem;
            margin: 0 3rem;
            font-size: 2rem;
            color: $tintL;
            border-radius: 50%;
            box-shadow: 0 0 0.7rem $tintL;
            transition: all 0.4s;

            &:hover,
            &:focus{
                box-shadow: 0 0 0.5rem $primary;
                color: $primary;
                transform: scale(1.1);
                cursor: pointer;
     
            }
        }
    }
    &_text{
        margin: 4rem 0rem 1rem;
        color: $tintL;
        font-size: 1.7rem;
        
        line-height: 2.3rem;
        text-align: center;

    }
    & hr{
        @include horizontal_line       
    }

}