.header{
    text-align: center;
    margin-top: 15rem;
    background-color: #edf8fa;background-image: linear-gradient(to left,#fff, #edf8fa, #edf8fa, #fff);
    
    @include media(small){
        margin-top: 11rem;
    }
    
    &_title {
        padding: 2rem;

        @include media(medium){        
            padding: 1.5rem;
        }
    }

    &_links{

        &>*{
            list-style: none;
            display: inline-block;
            background-color: #fff;
            padding: 2rem;
            margin: 1rem 3rem 0 3rem;
            font-size: 2rem;
            color: $tintL;
            border-radius: 50%;
            box-shadow: 0 0 0.7rem $tintL;
            transition: all 0.4s;

            @include media(medium){
                font-size: 1.6rem;
                padding: 1.6rem;
                margin: 1rem 2rem 0 2rem;
            }

            &:hover,
            &:focus{
                box-shadow: 0 0 0.5rem $primary;
                color: $primary;
                transform: scale(1.1);
                cursor: pointer;
     
            }
        }
    }
    &_text{
        margin: 4rem 0 1rem 0;
        padding: 0 2rem;
        color: $tintL;
        font-size: 1.6rem;       
        line-height: 2.3rem;
        text-align: center;

        @include media(medium){
            font-size: 1.4rem;
            line-height: 2rem;
        }

        @include media(small){
            font-size: 1.2rem;
        }

    }
    & hr{
        @include horizontal_line       
    }

}