.card{

    width: 320px;
    height: 400px;
    perspective: 1000px;
    filter: drop-shadow(0px 0px 5px rgba($tintL, $alpha: 0.5));     
    border-bottom: 1px solid $hilightL;
    border-radius: 4px;
    margin:2rem;

    & h3{
        color: $primary;
        position: relative;
        text-align: center;
        font-weight: 400;
        top: 360px;  
    }

    //position both faces within container
    &_face{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        border-radius: 4px;    
        overflow: hidden;
        transition: all 0.8s ease-out;
        text-align: center;
        text-transform: uppercase;
     
       
        //places back face in hidden position
        &-back{
           background-color: $grey;
           text-align: justify;
           padding: 1rem;
           font-size: 1.6rem;

           &>p{
               font-size: 1.4rem;
               text-align: justify;
               margin-top: 3rem;
               padding: 0.5rem;
               color: $tintL;
               text-transform: none;
               opacity: 0;
           }
        }
        &-front{          
           
            clip-path: polygon(0 0, 100% 0, 100% 85%, 0 75%);
            z-index: 1;

            &-1{
              background-image: url('../images/shoulder.jpg');
              background-position:bottom;
              background-size: cover;
            }
            &-2{
                background-image: url('../images/massage.jpg');
                background-position: center;
            }
            &-3{
                background-image: url('../images/stairs.jpg');
                background-position: center;
                background-size: cover;
            }
            &-4{
                background-image: url('../images/ergonome.jpg');
                background-position: top;

            }
            &-5{
                background-image: url('../images/Acupuncture.webp');
                background-size: cover;
               
            }
        }
    }

    //reveal by simultaneous rotation on hover
    &:hover &_face-front{
        opacity: 0;
        transform: translateY(-55rem);
    }
    &:hover &_face-back{    
        opacity: 1;
             
        >h3{
            transform: translateY(-35rem);
            transition: transform 0.6s ease-out;
        }
        >p{
            opacity: 1;
            transition: all 1.2s;
        }
       
    }

}

