.nkt{
    display: grid;
 
    grid-template-columns: 4em 1fr 1fr 1fr 1fr 4em;
    grid-template-rows: auto;
    grid-template-areas: ". . title title   . ."
                         ". main main img1 img1 ."
                         ". main main img1 img1 ."
                         " ftr ftr ftr ftr ftr ftr";

    grid-gap: 1rem; 
    margin-top: 15rem;
    margin-bottom: 2rem;

    &_title{
        grid-area: title;
        text-align: center;
        margin: 1rem 0 3rem 0;
    }
    &_text{
        grid-area: main;
        padding: 1rem;

        & > ul{
            list-style: inside;
            list-style-type: square;
            font-size: 1.6rem;
            font-weight: 300;
            color: $tintL;
    
        }
       
    }
    &_img1{
        grid-area: img1;
        background-image: url('https://source.unsplash.com/random');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    & p{
        font-size: 1.4rem;
        font-weight: 300;
        line-height: 2.5rem;
        color: $tintL;
    }
    & hr{
        @include horizontal_line;
    }

}